.game{
  position: relative;
}

.background{
  background: rgb(52, 166, 251);
  border-spacing: 0px;
  table-layout: fixed;
}

.background td{
  padding: 0px;
}

.wall{
  background: grey;
}

.lava{
  background: crimson;
  border-radius: 10px;
}

.rubber{
  background: white;
}

.actor{
  position: absolute;
}

.player{
  background: yellow;
  border-radius: 10px;
}

.lost .player{
  background: rgb(160, 64, 64);
}

.won .player{
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
