html, body{
  margin: 0px;
}

.game{
  position: relative;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
}

.background{
  background: rgb(52, 166, 251);
  border-spacing: 0px;
  table-layout: fixed;
}

.background td{
  padding: 0px;
}

.wall{
  background: grey;
}

.lava{
  background: crimson;
  border-radius: 100px;
}

.rubber{
  background: white;
}

.actor{
  position: absolute;
}

.player{
  background: yellow;
  border-radius: 500px;
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.medal{
  background: white;
  border-radius: 500px;
  color: red;
}

.lost .player{
  background: rgb(160, 64, 64);
}

.won .player{
  box-shadow: -0px -0px 9px 9px white;
}

.textLayer{
  position: absolute;
  top: 0px;
  left: 0px;
  color: black;
  z-index: 10000;
}
